.row {
  display: flex;
  @media screen and (max-width: 767px) {
    display: block;
  }

  > div {
    width: 50%;
    padding: 2%;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  .space-between {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }

  .centered-button {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      height: 50px;
      width: 100px;
    }
  }
}
