.login-page {
  height: calc(100vh - 64px);

  i {
    font-size: 15em;
    cursor: pointer;
  }

  .space-between {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }

  .direct-login {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .standard-login {
    margin: 50px auto;
    max-width: 600px;
  }
}
