<div *ngFor="let alert of alerts">
  {{ alert.message }}
</div>

<div class="content">
<div class="flash-container flash-container-page">
</div>

<div class="row">

  <div class="col-sm-5 pull-right new-session-forms-container">

    <div *ngIf="showBlock == 'login'">
      <md-tab-group>
        <md-tab id="signin">
          <ng-template md-tab-label>{{ 'LOGIN.TAB.SIGNIN' | translate }}</ng-template>
          <app-signin [returnUrl]="returnUrl" (alertReceived)="addAlert($event)" (changeBlock)="onChangeBlock($event)"></app-signin>
        </md-tab>
        <md-tab id="register">
          <ng-template md-tab-label>{{ 'LOGIN.TAB.REGISTER' | translate }}</ng-template>
          <app-register [returnUrl]="returnUrl" (alertReceived)="addAlert($event)"></app-register>
        </md-tab>
      </md-tab-group>
      <md-card>
        <span>{{ 'LOGIN.REQUESTCONFIRMATION.TEXT' | translate }}</span>
        <button md-button (click)="onChangeBlock('confirmation')">{{ 'LOGIN.REQUESTCONFIRMATION.ACTION' | translate }}</button>
      </md-card>
      <div class="clearfix">
        <div class="omniauth-container">
          <p>
            <span class="light">
              {{ 'LOGIN.SIGNINOAUTH.SIGNIN_TITLE' | translate }}
            </span>
            <span class="icon-oauth">
              <a rel="nofollow">
                <i class="ion-social-googleplus"></i>
              </a>
            </span>
            <span class="icon-oauth">
              <a rel="nofollow">
                 <i class="ion-social-twitter"></i>
              </a>
            </span>
            <span class="icon-oauth">
              <a rel="nofollow">
                 <i class="icon ion-social-facebook"></i>
              </a>
            </span>
          </p>
        </div>
      </div>
    </div>

    <div *ngIf="showBlock == 'password'">
      <md-tab-group>
        <md-tab id="password">
          <ng-template md-tab-label>{{ 'LOGIN.TAB.PASSWORD' | translate }}</ng-template>
          <app-password (alertReceived)="addAlert($event)" (changeBlock)="onChangeBlock($event)"></app-password>
        </md-tab>
      </md-tab-group>
      <div class="clearfix prepend-top-20">
        <span>{{ 'LOGIN.AUTHENTIFICATION_EXIST.TEXT' | translate }}</span>
        <button md-button (click)="onChangeBlock('login')">{{ 'LOGIN.AUTHENTIFICATION_EXIST.ACTION' | translate }}</button>
      </div>
    </div>

    <div *ngIf="showBlock == 'confirmation'">
      <md-tab-group>
        <md-tab id="confirmation">
          <ng-template md-tab-label>{{ 'LOGIN.TAB.CONFIRMATION' | translate }}</ng-template>
          <app-confirmation (alertReceived)="addAlert($event)" (changeBlock)="onChangeBlock($event)"></app-confirmation>
        </md-tab>
      </md-tab-group>
      <div class="clearfix prepend-top-20">
        <span>{{ 'LOGIN.AUTHENTIFICATION_EXIST.TEXT' | translate }}</span>
        <button md-button (click)="onChangeBlock('login')">{{ 'LOGIN.AUTHENTIFICATION_EXIST.ACTION' | translate }}</button>
      </div>
    </div>
  </div>

  <div class="col-sm-7 brand-holder pull-left">
    <h1>
    Master Application
    </h1>
    <p>Welcome, please sign in or create a new account</p>
  </div>
</div>
