<form [formGroup]="signInform">
  <div>
    <md-form-field>
      <input mdInput
             placeholder="{{ 'LOGIN.SIGNINFORM.USERNAME' | translate }}"
             id="username"
             formControlName="username" />
    </md-form-field>
  </div>
  <div>
    <md-form-field>
      <input mdInput
             placeholder="{{ 'LOGIN.SIGNINFORM.PASSWORD' | translate }}"
             type="password"
             id="password"
             formControlName="password" />
    </md-form-field>
  </div>
  <div>
    <md-checkbox id="user_remember_me" name="user[remember_me]">{{ 'LOGIN.SIGNINFORM.REMEMBERME' | translate }}</md-checkbox>
  </div>
  <div class="pull-right forgot-password">
    <button md-button (click)="onChangeBlock('password')">{{ 'LOGIN.SIGNINFORM.PASSWORDLOST' | translate }}</button>
  </div>
  <div>
    <button md-raised-button
            color="primary"
            [disabled]="(loading$ | async) || !signInform.valid" (click)="onSignIn()">{{ 'LOGIN.SIGNINFORM.SUBMIT' | translate }}</button>
    <md-spinner *ngIf="(loading$ | async)"></md-spinner>
  </div>
</form>
