<div>
  <h1>{{ 'LOGIN.RESETPASSWORDFORM.TITLE' | translate }}</h1>
  <p>{{ 'LOGIN.RESETPASSWORDFORM.MESSAGE' | translate }}</p>
</div>

<form [formGroup]="passwordResetForm">
  <mat-form-field>
    <input matInput
           placeholder="{{ 'LOGIN.RESETPASSWORDFORM.NEWPASSWORD' | translate }}"
           id="passwordnew"
           type="password"
           formControlName="passwordnew" />
  </mat-form-field>
  <mat-form-field>
    <input matInput
           placeholder="{{ 'LOGIN.RESETPASSWORDFORM.CONFIRMPASSWORD' | translate }}"
           id="passwordconfirm"
           type="password"
           formControlName="passwordconfirm" />
  </mat-form-field>
  <button mat-raised-button
          color="primary"
          [disabled]="!passwordResetForm?.valid" (click)="onReset()">{{ 'LOGIN.RESETPASSWORDFORM.SAVE' | translate }}</button>
</form>
