<div>
  <h1>Welcome</h1>
  <p>Please enter your new password.</p>
</div>

<form [formGroup]="passwordResetForm">
  <mat-form-field>
    <input matInput
           placeholder="{{ 'PROFILE.EDIT.NEWPASSWORD' | translate }}"
           id="passwordnew"
           type="password"
           formControlName="passwordnew" />
  </mat-form-field>
  <mat-form-field>
    <input matInput
           placeholder="{{ 'PROFILE.EDIT.CONFIRMPASSWORD' | translate }}"
           id="passwordconfirm"
           type="password"
           formControlName="passwordconfirm" />
  </mat-form-field>
  <button mat-raised-button
          color="primary"
          [disabled]="!passwordResetForm?.valid" (click)="onReset()">{{ 'LOGIN.REGISTERFORM.SUBMIT' | translate }}</button>
</form>
