<div class="profile-page" *ngIf="(user$ | async) as profile">
  <h4>{{ profile.firstname }} {{ profile.lastname }} ({{ profile.username }})</h4>

  <div class="container">
    <div *ngIf="(picture$ | async) as picture; else defaultImage">
      <img [src]="picture | safeUrl" class="user-img" />
    </div>
    <ng-template #defaultImage>
      <img src="assets/images/profile.png" class="user-img" />
    </ng-template>
    <p [innerHTML]="profile.description | nl2br"></p>
    <a (click)="editProfile()"
      *ngIf="canEdit"
      class="btn btn-sm btn-outline-secondary action-btn">
      <i class="ion-gear-a"></i> {{ 'PROFILE.EDIT.SETTINGS' | translate }}
    </a>
  </div>

</div>
