<h2>{{ 'ROLES.LIST.TITLE' | translate }}</h2>
<div class="example-container mat-elevation-z8">
  <table>
    <thead>
      <th>{{ 'ROLES.LIST.NAME' | translate }}</th>
      <th>{{ 'ROLES.LIST.ACTIONS' | translate }}</th>
    </thead>
    <tbody>
      <tr *ngFor="let role of (roles$ | async)">
        <td>
          {{ role.name }}
        </td>
        <td>
          <span class="action" (click)="manageRole(role._id)">[ {{ 'ROLES.LIST.EDIT' | translate }} ]</span>
          <span class="action" (click)="deleteRole(role)">[ {{ 'ROLES.LIST.DELETE' | translate }} ]</span>
        </td>
      </tr>
    </tbody>
  </table>
  <button mat-raised-button
          color="primary"
          (click)="manageRole()">{{ 'ROLES.LIST.ADD' | translate }}</button>
</div>
