<div *ngIf="data; then editFormTitle; else addFormTitle"></div>
<ng-template #editFormTitle><h2 mat-dialog-title>{{ 'USERS.EDIT.PAGETITLE_EDIT' | translate }}</h2></ng-template>
<ng-template #addFormTitle><h2 mat-dialog-title>{{ 'USERS.EDIT.PAGETITLE_ADD' | translate }}</h2></ng-template>
<div mat-dialog-content>
  <form novalidate [formGroup]="editUserForm">
    <fieldset>
      <div *ngIf="editUserForm.controls.username.value">
        <mat-form-field>
          <input matInput
                 type="text"
                 placeholder="{{ 'USERS.EDIT.USERNAME' | translate }}"
                 formControlName="username">
          <small *ngIf="!editUserForm.controls.username.valid">{{ 'USERS.EDIT.USERNAME_VALID' | translate }}</small>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput
                 type="text"
                 placeholder="{{ 'USERS.EDIT.FIRSTNAME' | translate }}"
                 formControlName="firstname">
          <small *ngIf="!editUserForm.controls.firstname.valid">{{ 'USERS.EDIT.FIRSTNAME_VALID' | translate }}</small>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput
                 type="text"
                 placeholder="{{ 'USERS.EDIT.LASTNAME' | translate }}"
                 formControlName="lastname">
          <small *ngIf="!editUserForm.controls.lastname.valid">{{ 'USERS.EDIT.LASTNAME_VALID' | translate }}</small>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput
                 type="text"
                 placeholder="{{ 'USERS.EDIT.EMAIL' | translate }}"
                 formControlName="email">
          <small *ngIf="!editUserForm.controls.email.valid">{{ 'USERS.EDIT.EMAIL_VALID' | translate }}</small>
        </mat-form-field>
      </div>

      <div>
        <mat-slide-toggle formControlName="active">{{ 'USERS.EDIT.ACTIVE' | translate }}</mat-slide-toggle>
      </div>

      <div formArrayName="roles">
        <div *ngFor="let role of editUserForm.controls.roles.controls; let i=index">
          <br />
          <mat-checkbox [formControl]="role">{{ rolesOptions[i]?.name }}</mat-checkbox>
        </div>
      </div>

    </fieldset>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()" tabindex="2">{{ 'USERS.EDIT.CANCEL' | translate }}</button>
  <button mat-button (click)="save()" tabindex="2" [disabled]="!editUserForm.valid">{{ 'USERS.EDIT.SAVE' | translate }}</button>
</div>
