<ion-header>

  <ion-navbar color="primary">
    <ion-title>
      <span *ngIf="loginBtn; else signupHeader">Login</span>
      <ng-template #signupHeader>Sign up</ng-template>
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding text-center>
  <div id="logo">
    <ion-icon color="primary" name="person"></ion-icon>
  </div>
  <div>
    <form [formGroup]="registerForm" *ngIf="!loginBtn">
      <ion-list inset>

        <ion-item>
          <ion-label>Name</ion-label>
          <ion-input id="name" name="name" type="text" placeholder="Your name" formControlName="name" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Username</ion-label>
          <ion-input id="username" name="username" type="text" placeholder="Your new username" formControlName="username" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Email</ion-label>
          <ion-input id="email" name="email" type="text" placeholder="your@email.ch" formControlName="email" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Confirm your e-mail</ion-label>
          <ion-input id="emailconfirm" name="emailconfirm" type="text" placeholder="your@email.ch (same as above)" formControlName="emailconfirm" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Password</ion-label>
          <ion-input id="password" name="password" type="password" placeholder="******" formControlName="password" required></ion-input>
        </ion-item>

      </ion-list>
    </form>
    <form [formGroup]="signInform" *ngIf="loginBtn">
      <ion-list inset>

        <ion-item>
          <ion-label>Username</ion-label>
          <ion-input id="username" name="username" type="text" placeholder="Your new username" formControlName="username" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Password</ion-label>
          <ion-input id="password" name="password" type="password" placeholder="******" formControlName="password" required></ion-input>
        </ion-item>

      </ion-list>
    </form>
    <div *ngIf="loginBtn; else signupBtn">
      <button ion-button block round (click)="onLogin()" [disabled]="!signInform.valid">Login</button>
      <p>
        Dont've a account? <br>
        <span (click)="toggleBtn()" class="primary">Go to signup</span>
      </p>
    </div>
    <ng-template #signupBtn>
      <button ion-button block round (click)="onSignup()" [disabled]="!registerForm.valid">Signup</button>
      <p>
        You've already an account? <br>
        <span (click)="toggleBtn()" class="primary">Go to login</span>
      </p>
    </ng-template>
    <div class="get-password">
      <p (click)="showPasswordRecovery()" class="primary">Lost your password?</p>
    </div>
    <form [formGroup]="passwordForm" *ngIf="pswRecover">
      <ion-list inset>

        <ion-item>
          <ion-label>Email</ion-label>
          <ion-input id="email" name="email" type="text" placeholder="your@email.ch" formControlName="email" required></ion-input>
        </ion-item>

      </ion-list>
      <button ion-button block round (click)="onRequestPassword()" [disabled]="!passwordForm.valid">Recover</button>
    </form>
  </div>
</ion-content>
