<mat-toolbar color="primary" class="main-nav mat-elevation-z4">
  <div *ngIf="(language$ | async) as language">
    <mat-select #langSelect (selectionChange)="setLanguage(langSelect.value)" [(ngModel)]="language">
      <mat-option *ngFor="let lang of translate.getLangs()" [value]="lang">{{ lang }}</mat-option>
    </mat-select>
  </div>
  <button mat-icon-button (click)="start.toggle()" class="icon-padding" *ngIf="(menuLinks$ | async) as menuLinks">
      <mat-icon aria-hidden="true">menu</mat-icon>
  </button>
  <div mat-button class="docs-button" routerLink="/">{{ 'APPLICATION.TITLE' | translate }}</div>
  <button mat-icon-button [mat-menu-trigger-for]="menu" *ngIf="(user$ | async) as user">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<app-loading></app-loading>

<mat-sidenav-container class="sidenav-container">

  <mat-sidenav class="mat-elevation-z10"
               [opened]="open"
               fixedTopGap="64"
               [mode]="mode"
               #start
               style="width:240px;"
               *ngIf="(menuLinks$ | async) as menuLinks">
    <div class="header-profile" *ngIf="(user$ | async) as user">
      <a [routerLink]="['/user']">
        <img [src]="user.icon" [title]="user.firstname + ' ' + user.lastname" />
      </a>
    </div>
    <app-sidenav-list [links]="menuLinks" (goto)="moveTo($event)"></app-sidenav-list>
    <!-- <app-doc-add></app-doc-add> -->
  </mat-sidenav>

  <main class="container">
    <app-breadcrumb></app-breadcrumb>
    <router-outlet></router-outlet>
  </main>

</mat-sidenav-container>

<mat-menu x-position="before" #menu="matMenu">
  <button *ngFor="let ml of adminLinks"
          mat-menu-item
          [routerLink]="[ml.path]"
          [routerLinkActive] = "ml.active ? 'active' : ''"
          [routerLinkActiveOptions]="ml.active ? {exact: true} : ''"
          (click)="ml.click ? this[ml.click]() : ''">{{ ml.label | translate }}</button>
</mat-menu>
