mat-toolbar > * {
  flex: 1 1 auto;
}

.mat-select {
  max-width: 100px;
}

.header-profile {
  display: flex;
  align-items: center;
  height: 64px;
  justify-content: center;
  border-bottom: 1px solid #ddd;

  img {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  }

  .header-profile-name {
    font-size: 0.8em;
    margin: 0 auto;
  }
}
