<form [formGroup]="confirmationForm">
  <div>
    <md-form-field>
      <input mdInput
             placeholder="{{ 'LOGIN.CONFIRMATIONFORM.EMAIL' | translate }}"
             id="email"
             type="email"
             formControlName="email" />
    </md-form-field>
  </div>
  <div>
    <button md-raised-button
            color="primary"
            [disabled]="loading || !confirmationForm.valid" (click)="onRequestConfirmation()">{{ 'LOGIN.CONFIRMATIONFORM.SUBMIT' | translate }}</button>
    <md-spinner *ngIf="loading"></md-spinner>
  </div>
</form>
