<div class="profile-page">

  <div class="card" *ngIf="(user$ | async) as profile">
    <div class="card-header">
      <h4 class="card-title">{{ profile.firstname }} {{ profile.lastname }}</h4>
    </div>
    <div class="container">
      <ng-template *ngIf="(picture$ | async) as picture; else defaultImage">
        <img [src]="picture" class="user-img" />
      </ng-template>
      <ng-template #defaultImage>
        <img src="assets/images/profile.png" class="user-img" />
      </ng-template>
      <h4>{{ profile.username }}</h4>
      <p>{{ profile.description }}</p>
        <a [routerLink]="['edit']"
          [hidden]="!isUser"
          class="btn btn-sm btn-outline-secondary action-btn">
          <i class="ion-gear-a"></i> {{ 'PROFILE.EDIT.SETTINGS' | translate }}
        </a>
    </div>

  </div>

</div>
