<form [formGroup]="signInform"
      class="form-signup">
  <mat-form-field>
    <input matInput
           placeholder="{{ 'LOGIN.SIGNINFORM.USERNAME' | translate }}"
           id="username"
           formControlName="username" />
  </mat-form-field>

  <mat-form-field>
    <input matInput
           placeholder="{{ 'LOGIN.SIGNINFORM.PASSWORD' | translate }}"
           type="password"
           id="password"
           formControlName="password" />
  </mat-form-field>
  <div class="space-between">
    <mat-checkbox id="user_remember_me" name="user[remember_me]">{{ 'LOGIN.SIGNINFORM.REMEMBERME' | translate }}</mat-checkbox>
    <button mat-raised-button
            color="secondary"
            (click)="onRedirectPassword($event)">{{ 'LOGIN.SIGNINFORM.PASSWORDLOST' | translate }}</button>
  </div>
  <button mat-raised-button
          #signin
          color="primary"
          [disabled]="!signInform.valid" (click)="onSignIn()">{{ 'LOGIN.SIGNINFORM.SUBMIT' | translate }}</button>
</form>
