@import '~@angular/material/theming';
@import './app/app-theme';
@import './styles/api';
@import './styles/markdown';
@import './styles/tables';
@import './styles/general';


// Include material core styles.
@include mat-core();


// Define the light theme.
$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
@include material-docs-app-theme($theme);

input.mat-input-element {
    margin: 0 !important;
    border: none !important;
    &:focus {
        box-shadow: none !important;
    }
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
}

input:not([type]), input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default), input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default), input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default), input[type=search]:not(.browser-default),
textarea.materialize-textarea {
  height: 2rem;
}
