<nav class="navbar sticky-top navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Open Budget</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!--
    <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive = "active" *ngIf="authService.isAuthenticated()" >
          <a class="nav-link" [routerLink]="['/']">{{ 'HEADER.MENU.HOME' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="authService.isAuthenticated()" [routerLink]="['/account']">{{ 'HEADER.MENU.ACCOUNTS' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="authService.isAuthenticated()" [routerLink]="['/expense']">{{ 'HEADER.MENU.EXPENSES' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isLoggedIn$ | async" (click)="logout()">{{ 'HEADER.MENU.LOGOUT' | translate }}</a>
        </li>
    </ul>
     -->
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="{{ 'HEADER.MENU.SEARCH' | translate }}">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{{ 'HEADER.MENU.SEARCH' | translate }}</button>
    </form>
    <select #langSelect (change)="translate.use(langSelect.value)">
      <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
    </select>
  </div>
</nav>
