<nav class="docs-navbar-header">
  <a mat-button class="docs-button" routerLink="/">Master application</a>
  <div>
    <ul *ngIf="isLoggedIn$ | async">
      <li routerLinkActive = "active">
        <a mat-button class="docs-navbar-hide-small docs-button"
           [routerLink]="['/']">{{ 'HEADER.MENU.HOME' | translate }}</a>
      </li>
      <li>
        <a mat-button class="docs-navbar-hide-small docs-button"
           (click)="logout()">{{ 'HEADER.MENU.LOGOUT' | translate }}</a>
      </li>
    </ul>
  </div>
  <div class="flex-spacer"></div>
  <mat-select #langSelect (change)="setLanguage(langSelect.value)" [(ngModel)]="currentLang">
    <mat-option *ngFor="let lang of translate.getLangs()" [value]="lang">{{ lang }}</mat-option>
  </mat-select>
</nav>
<!--  [selected]="lang === translate.currentLang" -->
