// @Author: Nicolas Fazio <webmaster-fazio>
// @Date:   18-10-2017
// @Email:  contact@nicolasfazio.ch
// @Last modified by:   webmaster-fazio
// @Last modified time: 18-10-2017

.docs-navbar-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;

  > .mat-button {
    &:last-child {
      margin-left: auto;
    }
  }

  mat-select {
    .mat-select-trigger,
    .mat-select-value {
      color: rgba(255, 255, 255, 1);
    }
  }

}

.flex-spacer {
  flex-grow: 1;
}
