<mat-toolbar color="primary">
  <div>
    <mat-select #langSelect (change)="setLanguage(langSelect.value)" [(ngModel)]="currentLang">
      <mat-option *ngFor="let lang of translate.getLangs()" [value]="lang">{{ lang }}</mat-option>
    </mat-select>
  </div>
  <div mat-button class="docs-button" routerLink="/">{{ 'APPLICATION.TITLE' | translate }}</div>
  <button mat-icon-button [mat-menu-trigger-for]="menu" *ngIf="isLoggedIn$ | async">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item [routerLink]="['/']" routerLinkActive = "active" [routerLinkActiveOptions]="{exact: true}">{{ 'HEADER.MENU.HOME' | translate }}</button>
  <button mat-menu-item [routerLink]="['/users']">{{ 'HEADER.MENU.USERS' | translate }}</button>
  <button mat-menu-item (click)="logout()">{{ 'HEADER.MENU.LOGOUT' | translate }}</button>
</mat-menu>
<!--  [selected]="lang === translate.currentLang" -->
