<mat-toolbar color="primary">
  <div *ngIf="(language$ | async) as language">
    <mat-select #langSelect (selectionChange)="setLanguage(langSelect.value)" [(ngModel)]="language">
      <mat-option *ngFor="let lang of translate.getLangs()" [value]="lang">{{ lang }}</mat-option>
    </mat-select>
  </div>
  <div mat-button class="docs-button" routerLink="/">{{ 'APPLICATION.TITLE' | translate }}</div>
  <div class="header-profile" *ngIf="(user$ | async) as user">
    <a [routerLink]="['/user']">
      <img [src]="user.icon" [title]="user.firstname + ' ' + user.lastname" />
    </a>
  </div>
  <button mat-icon-button [mat-menu-trigger-for]="menu" *ngIf="(user$ | async) as user">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button *ngFor="let ml of menuLinks"
          mat-menu-item
          [routerLink]="[ml.path]"
          [routerLinkActive] = "ml.active ? 'active' : ''"
          [routerLinkActiveOptions]="ml.active ? {exact: true} : ''"
          (click)="ml.click ? this[ml.click]() : ''">{{ ml.label | translate }}</button>
</mat-menu>
