<div class="main-content">
  <div class="card" *ngIf="(user$ | async) as profile">
    <div class="card-header card-header-danger">
      <h4 class="card-title">{{ 'PROFILE.EDIT.EDITPROFILE' | translate }}</h4>
      <div class="picture">
        <div *ngIf="(picture$ | async) as picture; else defaultImage">
          <img [src]="picture | safeUrl" class="user-img" />
        </div>
        <ng-template #defaultImage>
          <img src="assets/images/profile.png" class="user-img" />
        </ng-template>
        <button mat-raised-button
                (click)="editPicture()">{{ 'PROFILE.EDIT.PICTURE' | translate }}</button>
      </div>
      <p class="card-category">{{ 'PROFILE.EDIT.COMPLETE' | translate }}</p>
    </div>
    <div class="card-body">
      <form [formGroup]="editProfileform"
            class="form-edit-profile">
        <div class="form-flex">
          <div class="form-column" *ngIf="enableAuthChange">
            <mat-form-field *ngIf="editProfileform.controls.passwordnew.value || editProfileform.controls.username.value != profile.username">
              <input matInput
                     placeholder="{{ 'PROFILE.EDIT.CURRENTPASSWORD' | translate }}"
                     type="password"
                     autocomplete="off"
                     id="current-password"
                     formControlName="passwordcurrent" />
            </mat-form-field>

            <mat-form-field>
              <input matInput
                     placeholder="{{ 'PROFILE.EDIT.USERNAME' | translate }}"
                     id="username"
                     formControlName="username" />
              <small *ngIf="!editProfileform?.get('username').valid">{{ 'PROFILE.EDIT.USERNAME_VALID' | translate }}</small>
            </mat-form-field>

            <mat-form-field>
              <input matInput
                     placeholder="{{ 'PROFILE.EDIT.NEWPASSWORD' | translate }}"
                     type="password"
                     autocomplete="off"
                     id="new-password"
                     formControlName="passwordnew" />
            </mat-form-field>

            <mat-form-field *ngIf="editProfileform.controls.passwordnew.value">
              <input matInput
                     placeholder="{{ 'PROFILE.EDIT.CONFIRMPASSWORD' | translate }}"
                     type="password"
                     autocomplete="off"
                     id="confirm-password"
                     formControlName="passwordconfirm" />
            </mat-form-field>
          </div>
          <div class="form-column" [ngClass]="!enableAuthChange ? 'fullwidth' : ''">
            <mat-form-field>
              <input matInput
                     placeholder="{{ 'PROFILE.EDIT.FIRSTNAME' | translate }}"
                     id="firstname"
                     formControlName="firstname" />
              <small *ngIf="!editProfileform?.get('firstname').valid">{{ 'PROFILE.EDIT.FIRSTNAME_VALID' | translate }}</small>
            </mat-form-field>

            <mat-form-field>
              <input matInput
                     placeholder="{{ 'PROFILE.EDIT.LASTNAME' | translate }}"
                     id="lastname"
                     formControlName="lastname" />
              <small *ngIf="!editProfileform?.get('lastname').valid">{{ 'PROFILE.EDIT.LASTNAME_VALID' | translate }}</small>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="{{ 'PROFILE.EDIT.LANGUAGE' | translate }}"
                          formControlName="language">
                <mat-option *ngFor="let lang of translate.getLangs()" [value]="lang">{{ lang }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <textarea matInput
                        placeholder="{{ 'PROFILE.EDIT.DESCRIPTION' | translate }}"
                        id="description"
                        formControlName="description"></textarea>
            </mat-form-field>

            <div>
              <mat-slide-toggle *ngIf="emailNotification"
                                formControlName="emailNotify">{{ 'PROFILE.EDIT.EMAILNOTIFY' | translate }}</mat-slide-toggle>
            </div>

          </div>
        </div>
        <div class="form-buttons">
          <button mat-raised-button
                  #signin
                  (click)="cancel()"
                  color="secondary">{{ 'PROFILE.EDIT.CANCEL' | translate }}</button>
          <button mat-raised-button
                  #signin
                  (click)="save()"
                  [disabled]="!editProfileform.valid || (editProfileform.pristine && picture === userEdit.picture)"
                  color="primary">{{ 'PROFILE.EDIT.SAVE' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
