.form-flex {
  display: flex;
  @media only screen and (max-width: 639px) {
    display: block;
  }

  .form-column {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 50%;

    &.fullwidth {
      width: 100%;
    }

    @media only screen and (max-width: 639px) {
      width: 100%;
    }

    > * {
      width: 100%;
    }
  }

}

.form-buttons {
  display: flex;
  @media only screen and (max-width: 639px) {
    display: block;
  }

  > * {
    width: 20%;
    margin: 0 15%;

    @media only screen and (max-width: 639px) {
      width: 90%;
      margin: 5%;
    }
  }
}

.card {
  padding: 20px;
}

.user-img {
  width: 150px;
  height: 150px;
  display: block;
  border-radius: 50%;
}

.delete-icon {
  cursor: pointer;
}
